body {
  margin: 80px auto;
}

main {
  max-width: 55em;
  margin: 0 auto;
}

table {
  width: 100%;
}

form {
  max-width: 25em;
}

.friend-profile {
  text-align: left;
}

.friend-profile img {
  float: left;
  margin: 1em 2em 1em 1em;
}

.friend-profile-links li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.friends-table thead tr {
  cursor: pointer;
}
